.heading{
    color: black;
    width:80%;
    
}
body{
    background-color:darkgoldenrod;
}
#camera,#result{
    width: 300px;
    height: 300px;
    border: 2px dashed crimson;
    
}
